# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment configuration files
.env

# Ignore npm's debug log
npm-debug.log

# Ignore yarn's lock file
yarn.lock

# Ignore Visual Studio Code folder
.vscode/

# Ignore Mac-specific files
.DS_Store

# Ignore JetBrains IDE files
.idea/

# Ignore production build files
/build/
/dist/
